USE [master]
GO
/****** Object:  Database [BangamataHall]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE DATABASE [BangamataHall]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BangamataHall', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\BangamataHall.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BangamataHall_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\BangamataHall_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BangamataHall].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BangamataHall]
GO
/****** Object:  User [SHARIF-PC\Sharif]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE USER [SHARIF-PC\Sharif] FOR LOGIN [SHARIF-PC\Sharif] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bangamatahalldev]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE USER [bangamatahalldev] FOR LOGIN [bangamatahalldev] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [SHARIF-PC\Sharif]
GO
ALTER ROLE [db_owner] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [bangamatahalldev]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [bangamatahalldev]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodGroup]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_BloodGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstablishmentCharge]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstablishmentCharge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[Year] [int] NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[EntryBy] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_EstablishmentCharge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Url] [varchar](250) NULL,
	[ParentMenuId] [int] NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuRole]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_MenuRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Nationality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religion]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Religion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [varchar](50) NULL,
	[StudentCapacity] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomSeat]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomSeat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeatNo] [varchar](50) NULL,
	[RoomId] [int] NOT NULL,
	[StudentId] [int] NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_RoomSeat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](250) NULL,
	[BioLink] [varchar](250) NULL,
	[ActingDateFrom] [datetime] NULL,
	[ActingDateTo] [datetime] NULL,
	[EntryBy] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[FatherName] [varchar](100) NULL,
	[MotherName] [varchar](100) NULL,
	[ClassRollNo] [varchar](50) NULL,
	[RegistrationNo] [varchar](50) NULL,
	[ClassId] [int] NULL,
	[DepartmentId] [int] NULL,
	[BatchId] [int] NULL,
	[SectionId] [int] NULL,
	[SessionId] [int] NULL,
	[RegistrationYear] [int] NULL,
	[DateOfBirth] [date] NULL,
	[Mobile] [varchar](11) NULL,
	[Email] [varchar](250) NULL,
	[ReligionId] [int] NULL,
	[NationalityId] [int] NULL,
	[BloodGroupId] [int] NULL,
	[Password] [varchar](250) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[IsArchived] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCredential]    Script Date: 2024-02-26 01:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredential](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[StaffId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[EntryBy] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UserCredentials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Batch] ON 

INSERT [dbo].[Batch] ([Id], [Name]) VALUES (1, N'1st')
INSERT [dbo].[Batch] ([Id], [Name]) VALUES (2, N'2nd')
INSERT [dbo].[Batch] ([Id], [Name]) VALUES (3, N'3rd')
SET IDENTITY_INSERT [dbo].[Batch] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodGroup] ON 

INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (1, N'A+')
INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (2, N'A-')
INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (3, N'B+')
SET IDENTITY_INSERT [dbo].[BloodGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([Id], [Name]) VALUES (1, N'Honours')
INSERT [dbo].[Class] ([Id], [Name]) VALUES (2, N'Masters')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Computer Science & Engineering(CSE)')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'Economics')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'History')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([Id], [Name]) VALUES (1, N'MD')
INSERT [dbo].[Designation] ([Id], [Name]) VALUES (2, N'CEO')
INSERT [dbo].[Designation] ([Id], [Name]) VALUES (3, N'Provost')
SET IDENTITY_INSERT [dbo].[Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[EstablishmentCharge] ON 

INSERT [dbo].[EstablishmentCharge] ([Id], [StudentId], [Year], [PaidAmount], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (1, 22, 2000, CAST(50.00 AS Decimal(18, 2)), 1, CAST(N'2024-02-23T20:53:24.723' AS DateTime), 1, CAST(N'2024-02-23T20:54:54.233' AS DateTime))
INSERT [dbo].[EstablishmentCharge] ([Id], [StudentId], [Year], [PaidAmount], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (4, 21, 2000, CAST(502.00 AS Decimal(18, 2)), 1, CAST(N'2024-02-23T20:54:46.693' AS DateTime), 1, CAST(N'2024-02-23T20:55:28.507' AS DateTime))
INSERT [dbo].[EstablishmentCharge] ([Id], [StudentId], [Year], [PaidAmount], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (16, 21, 2010, CAST(50.00 AS Decimal(18, 2)), 1, CAST(N'2024-02-23T20:56:48.767' AS DateTime), 1, CAST(N'2024-02-23T20:57:23.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[EstablishmentCharge] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [Name], [Url], [ParentMenuId], [DisplayOrder]) VALUES (1, N'Student Entry', N'/Student/Create', 17, 1)
INSERT [dbo].[Menu] ([Id], [Name], [Url], [ParentMenuId], [DisplayOrder]) VALUES (2, N'Student List', N'/Student/Index', 17, 2)
INSERT [dbo].[Menu] ([Id], [Name], [Url], [ParentMenuId], [DisplayOrder]) VALUES (3, N'Department Entry', N'/Department/Create', 18, 3)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuRole] ON 

INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId]) VALUES (2, 2, 1)
INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[MenuRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Nationality] ON 

INSERT [dbo].[Nationality] ([Id], [Name]) VALUES (447, N'Bangladeshi')
INSERT [dbo].[Nationality] ([Id], [Name]) VALUES (448, N'Afghan')
INSERT [dbo].[Nationality] ([Id], [Name]) VALUES (449, N'Albanian')
GO
SET IDENTITY_INSERT [dbo].[Nationality] OFF
GO
SET IDENTITY_INSERT [dbo].[Religion] ON 

INSERT [dbo].[Religion] ([Id], [Name]) VALUES (1, N'Islam')
INSERT [dbo].[Religion] ([Id], [Name]) VALUES (2, N'Hinduism')
INSERT [dbo].[Religion] ([Id], [Name]) VALUES (3, N'Buddhism')
SET IDENTITY_INSERT [dbo].[Religion] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'SuperAdmin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [RoomNo], [StudentCapacity]) VALUES (1, N'101', 4)
INSERT [dbo].[Room] ([Id], [RoomNo], [StudentCapacity]) VALUES (2, N'102', 4)
INSERT [dbo].[Room] ([Id], [RoomNo], [StudentCapacity]) VALUES (3, N'103', 4)
GO
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomSeat] ON 

INSERT [dbo].[RoomSeat] ([Id], [SeatNo], [RoomId], [StudentId], [UpdatedBy], [UpdateDate]) VALUES (1, N'EAST', 1, 21, 1, CAST(N'2024-02-21T14:19:18.593' AS DateTime))
INSERT [dbo].[RoomSeat] ([Id], [SeatNo], [RoomId], [StudentId], [UpdatedBy], [UpdateDate]) VALUES (2, N'SOUTH', 1, NULL, NULL, NULL)
INSERT [dbo].[RoomSeat] ([Id], [SeatNo], [RoomId], [StudentId], [UpdatedBy], [UpdateDate]) VALUES (3, N'WEST', 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[RoomSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Id], [Name]) VALUES (1, N'Section A')
INSERT [dbo].[Section] ([Id], [Name]) VALUES (2, N'Section B')
INSERT [dbo].[Section] ([Id], [Name]) VALUES (3, N'Section C')
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([Id], [Name]) VALUES (1, N'2020-21')
INSERT [dbo].[Session] ([Id], [Name]) VALUES (2, N'2021-22')
INSERT [dbo].[Session] ([Id], [Name]) VALUES (3, N'2022-23')
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Name], [DepartmentId], [DesignationId], [Mobile], [Email], [BioLink], [ActingDateFrom], [ActingDateTo], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate], [DisplayOrder]) VALUES (1, N'Sharif Khan', 2, 1, N'01434234423', N'sharif333@m.insta.kim', NULL, CAST(N'2024-11-09T00:00:00.000' AS DateTime), CAST(N'2024-11-09T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-24T13:31:16.113' AS DateTime), 1, CAST(N'2024-02-24T17:10:15.983' AS DateTime), NULL)
INSERT [dbo].[Staff] ([Id], [Name], [DepartmentId], [DesignationId], [Mobile], [Email], [BioLink], [ActingDateFrom], [ActingDateTo], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate], [DisplayOrder]) VALUES (11, N'Harun', 1, 1, N'01434234422', N'sharif1@m.insta.kim', NULL, CAST(N'2024-02-16T00:00:00.000' AS DateTime), CAST(N'2024-02-22T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-24T13:31:16.113' AS DateTime), 1, CAST(N'2024-02-24T14:33:59.537' AS DateTime), NULL)
INSERT [dbo].[Staff] ([Id], [Name], [DepartmentId], [DesignationId], [Mobile], [Email], [BioLink], [ActingDateFrom], [ActingDateTo], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate], [DisplayOrder]) VALUES (15, N'Test', 4, 1, N'01434234429', N'esharif26@gmail.com', NULL, CAST(N'2024-02-01T00:00:00.000' AS DateTime), CAST(N'2024-02-10T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-24T13:31:16.113' AS DateTime), 1, CAST(N'2024-02-24T15:25:22.003' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Name], [FatherName], [MotherName], [ClassRollNo], [RegistrationNo], [ClassId], [DepartmentId], [BatchId], [SectionId], [SessionId], [RegistrationYear], [DateOfBirth], [Mobile], [Email], [ReligionId], [NationalityId], [BloodGroupId], [Password], [EntryDate], [EntryBy], [ModifiedBy], [ModifyDate], [IsArchived]) VALUES (25, N'John ', N'Xim', N'Kim', N'CSE202301045', N'2013', 2, 1, 2, 2, 7, 2014, CAST(N'2024-12-31' AS Date), N'01434234423', N'esharif22@gmail.com', 1, 447, 7, NULL, CAST(N'2024-02-23T21:02:34.637' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCredential] ON 

INSERT [dbo].[UserCredential] ([Id], [UserName], [Password], [StaffId], [RoleId], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate], [IsEnabled]) VALUES (1, N'DevUser', N'1', 1, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UserCredential] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BatchName]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BatchName] ON [dbo].[Batch]
(
	[Name] ASC
)
WHERE ([Name] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstablishmentChargeStudentIdYear]    Script Date: 2024-02-26 01:41:36 PM ******/
ALTER TABLE [dbo].[EstablishmentCharge] ADD  CONSTRAINT [IX_EstablishmentChargeStudentIdYear] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaffEmail]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StaffEmail] ON [dbo].[Staff]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaffMobile]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StaffMobile] ON [dbo].[Staff]
(
	[Mobile] ASC
)
WHERE ([mobile] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentEmail]    Script Date: 2024-02-26 01:41:36 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [IX_StudentEmail] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentMobile]    Script Date: 2024-02-26 01:41:36 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [IX_StudentMobile] UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentClassRollNo]    Script Date: 2024-02-26 01:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentClassRollNo] ON [dbo].[Student]
(
	[ClassRollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstablishmentCharge]  WITH CHECK ADD  CONSTRAINT [FK_EstablishmentCharge_Staff] FOREIGN KEY([EntryBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[EstablishmentCharge] CHECK CONSTRAINT [FK_EstablishmentCharge_Staff]
GO
ALTER TABLE [dbo].[EstablishmentCharge]  WITH CHECK ADD  CONSTRAINT [FK_EstablishmentCharge_Staff1] FOREIGN KEY([ModifyBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[EstablishmentCharge] CHECK CONSTRAINT [FK_EstablishmentCharge_Staff1]
GO
ALTER TABLE [dbo].[EstablishmentCharge]  WITH CHECK ADD  CONSTRAINT [FK_EstablishmentCharge_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[EstablishmentCharge] CHECK CONSTRAINT [FK_EstablishmentCharge_Student]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MenuParent] FOREIGN KEY([ParentMenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MenuParent]
GO
ALTER TABLE [dbo].[MenuRole]  WITH CHECK ADD  CONSTRAINT [FK_MenuRole_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[MenuRole] CHECK CONSTRAINT [FK_MenuRole_Menu]
GO
ALTER TABLE [dbo].[MenuRole]  WITH CHECK ADD  CONSTRAINT [FK_MenuRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[MenuRole] CHECK CONSTRAINT [FK_MenuRole_Role]
GO
ALTER TABLE [dbo].[RoomSeat]  WITH CHECK ADD  CONSTRAINT [FK_RoomSeat_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[RoomSeat] CHECK CONSTRAINT [FK_RoomSeat_Room]
GO
ALTER TABLE [dbo].[RoomSeat]  WITH CHECK ADD  CONSTRAINT [FK_RoomSeat_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[RoomSeat] CHECK CONSTRAINT [FK_RoomSeat_Student]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Designation] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Designation]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Staff] FOREIGN KEY([EntryBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Staff1] FOREIGN KEY([ModifyBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Staff1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Batch]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_BloodGroup] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroup] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_BloodGroup]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Classes]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Nationality] FOREIGN KEY([NationalityId])
REFERENCES [dbo].[Nationality] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Nationality]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Religion] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religion] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Religion]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Section] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Section] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Section]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Session]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_StaffEntry] FOREIGN KEY([EntryBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_StaffEntry]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_StaffModify] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_StaffModify]
GO
ALTER TABLE [dbo].[UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_UserCredential_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[UserCredential] CHECK CONSTRAINT [FK_UserCredential_Staff]
GO
ALTER TABLE [dbo].[UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_UserCredentials_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserCredential] CHECK CONSTRAINT [FK_UserCredentials_Role]
GO
ALTER TABLE [dbo].[UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_UserCredentials_StaffEntry] FOREIGN KEY([EntryBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[UserCredential] CHECK CONSTRAINT [FK_UserCredentials_StaffEntry]
GO
ALTER TABLE [dbo].[UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_UserCredentials_StaffModify] FOREIGN KEY([ModifyBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[UserCredential] CHECK CONSTRAINT [FK_UserCredentials_StaffModify]
GO
USE [master]
GO
